@import "variables";
@import "vendor/bootstrap/bootstrap/variables";

.landing {
  background-color: $color-primary;
  padding-bottom: 80px;
  padding-top: 80px;
  color: $color-white;

  h1 {
    margin-bottom: 20px;
  }

  @media(max-width: $screen-xs-max) {
    padding-bottom: 40px;
    padding-top: 40px;
  }
}

.speakers {
  background-color: $color-white;
  border-top: $border-color;
  border-bottom: 1px solid $border-color;
  padding-bottom: 40px;
}

.speaker-list > .row {
  margin-bottom: 20px;
}

.region-title {
  margin-bottom: 40px;
}

.speaker-container {
  padding: 25px 20px;
  border: 1px solid $border-color;
  border-radius: 5px;
  min-height: 380px;
  overflow-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .speaker-header {
    margin-bottom: 10px;

    h3 {
      margin-bottom: 0;
      font-weight: 600;
    }
  }

  .speaker-presentations {
    margin-top: 20px;
  }

  ul {
    padding-left: 20px;
    text-align: left;

    li {
      hyphens: auto;
    }
  }

  p {
    display: block;
    margin: 3px 0;
  }
}

.contact-us {
  background-color: $body-bg;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media(max-width: $screen-xs-max) {
  .speaker-list {
    .row {
      margin-bottom: 0;
    }

    .col-md-4 {
      margin-bottom: 15px;
    }
  }
}
